@import "vars";
@import "global";
@import "fonts";

body {
  height: 200vh;
}

.header {
  margin: 0 auto;
  max-width: 1519px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__fixed {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  animation-name: show-header;
  animation-duration: 1s;
  z-index: 100;
}

@keyframes show-header {
  0% {
    top: -88px;
    height: 110px;
  }
  100% {
    height: 88px;
  }
}

.header__menu-link {
  padding: 35px 0;
  border-bottom: 2px solid transparent;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.header__menu-link--active {
  border-bottom: 2px solid #000;
}

.header__menu-list {
  display: flex;
  li + li {
    padding-left: 26px;
  }
}

.header__menu-link:hover {
  border-bottom: 2px solid #000;
}

.next {
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url(../images/left.png);
}

.prev {
  position: absolute;
  right: 0;
  top: 50%;
  background-image: url(../images/right.png);
}

.prev,
.next {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}

.slider {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.item{
  position: relative;
}

.slider__box{
  position: absolute;
  top: 40%;
  left: 30%;
}

.slider__title{
  font-size: 50px;
}

.slider__text{
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}

.slider__btn{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.slider__parchase{
  cursor: pointer;
  padding: 10px 27px;
  font-size: 20px;
  background-color: #252839;
  color: #ebe8e8;
  &:hover{
    background-color: goldenrod;
    color: #252839;
  }
}

.item__img {
  object-fit: cover;
  width: 100%;
}

.slider-dots {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 47%;
}

.slider-dots__item {
  cursor: pointer;
  padding: 10px;
  margin: 0 3px;
  background-color: #ddd;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots__item:hover {
  background-color: #aaa;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


.sort-products {
  background-color: rgb(235, 232, 232);
}

.sort-menu__title {
  font-weight: 500;
  font-size: 30px;
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 70px;
  position: relative;
  &::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: black;
    position: absolute;
    bottom: -15px;
    left: 48%;
  }
}

.sort-menu__discribe {
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  color: #767575;
}

.sort-menu__menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  color: #767575;
  font-weight: 600;
}

.sort-menu__item + .sort-menu__item {
  margin-left: 30px;
}

.sort-menu__item {
  border-bottom: 2px solid transparent;
  padding-bottom: 7px;
  &:hover {
    color: black;
    cursor: pointer;
    border-bottom: 2px solid #000;
  }
}

.sort-menu__item--active {
  color: black;
  border-bottom: 2px solid #000;
}

.blocks__item {
  max-width: 360px;
  height: 200px;
  width: 100%;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes windowAN {
  0% {
    opacity: 0;
    border-bottom: 3px solid transparent;
  }
  100% {
    opacity: 1;
    border-bottom: 3px solid rgb(247, 160, 0);
  }
}

.window {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: none;
  padding-top: 130px;
  padding-bottom: 52px;
  text-align: center;
  color: #000000;
  background-color: rgba(124, 195, 212, 0.5);
}

.blocks__item:hover {
  cursor: pointer;
  .window {
    animation-name: windowAN;
    animation-duration: 1s;
    border-bottom: 3px solid rgb(250, 124, 6);
    display: block;
    position: relative;
    &::before {
      content: url(../images/search.svg);
      position: absolute;
      top: 55px;
      left: 42%;
    }
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.sort-products__btn{
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.btn{
  background-color: #252839;
  color: #ebe8e8;
  padding: 15px 30px;
  cursor: pointer;
  &:hover{
    background-color: goldenrod;
    color: #252839;
  }
}

.team{
  background-color: rgb(231, 226, 226);
}

.team__title{
  position: relative;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 40px 0 10px;
  font-size: 30px;
  &::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    left: 48%;
  }
}

.team__text{
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 30px 0px 50px;
  max-width: 500px;
  margin: 0 auto;
}

.team__box{
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.team__img{
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover{
    .team__links{
      opacity: 1;
    }
  }
}

.team__name{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  color: #252839;
  padding: 5px 0;
}

.team__possition{
  text-align: center;
  background-color: #fff;
  color: #767575;
  padding: 5px 0;
}

.team__links{
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 33, 34, 0.5);
  max-width: 300px;
  width: 100%;
  height: 300px;
}

.fb::before{
  position: absolute;
  left: 7px;
  top: 7px;
  content: "\ea90";
  font-family: 'icomoon';
  font-size: 20px;
  color: #fff;
}

.twitter::before{
  position: absolute;
  left: 6px;
  top: 5px;
  content: "\f099";
  font-family: 'icomoon';
  font-size: 25px;
  color: #fff;
}

.instagram::before{
  position: absolute;
  left: 5px;
  top: 4px;
  content: "\ea92";
  font-family: 'icomoon';
  font-size: 25px;
  color: #fff;
}

.link__item{
  position: relative;
  margin: 8px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20%;
  background-color: #1d1c1c;
}

.link__item:hover{
  background-color: #fff;
  border-color: #000;
  &::before{
    color: black;
  }
}

.footer{
  background-color: rgb(63, 63, 63);
  position: relative;
}

.top{
  position: absolute;
  top: 130px;
  left: 48%;
  font-size: 20px;
  padding: 20px;
  padding-left: 27px;
}

.footer__text{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.sort-menu__menu{
  border-bottom: 2px solid #ebe8e8 !important;
}

.mail{
  background: linear-gradient(to bottom, #fefcea, #6b6b68);
}

.mail__form{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail__text{
  resize: none;
  width: 100%;
  max-width: 200px;
  height: 50px;
}

.mail__sand{
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  background-color: #252839;
  color: #ebe8e8;
  &:hover{
    background-color: goldenrod;
    color: #252839;
  }
}